<section class="mb-4">
  <h2>Template</h2>
  <hr />
  <ul class="list-group">
    <li
      *ngFor="let item of templateMenu"
      class="list-group-item"
      [routerLink]="[item.route]"
      routerLinkActive="active"
    >
      {{ item.text }}
    </li>
  </ul>
</section>

<section class="mb-4">
  <h2>Reactive</h2>
  <hr />
  <ul class="list-group">
    <li
      *ngFor="let item of reactiveMenu"
      class="list-group-item"
      [routerLink]="[item.route]"
      routerLinkActive="active"
    >
      {{ item.text }}
    </li>
  </ul>
</section>

<section class="mb-4">
  <h2>Validaciones</h2>
  <hr />
  <ul class="list-group">
    <li
      *ngFor="let item of authMenu"
      class="list-group-item"
      [routerLink]="[item.route]"
      routerLinkActive="active"
    >
      {{ item.text }}
    </li>
  </ul>
</section>
