<h2>Template: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" #myForm="ngForm" autocomplete="off">
      <!-- Campo del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            name="product"
            type="text"
            placeholder="Nombre del producto"
            required
            minlength="3"
            [ngModel]="initialForm.product"
          />
          <span class="form-text text-danger" *ngIf="!isValidName">
            Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo del precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            name="price"
            placeholder="Precio del producto"
            min="0"
            required
            [ngModel]="initialForm.price"
          />
          <span class="form-text text-danger" *ngIf="!isValidPrice"
            >El precio debe ser mayor o igual a 0</span
          >
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            name="stock"
            appCustomMin
            [minimum]="0"
            placeholder="Stock del producto"
            required
            [ngModel]="initialForm.stock"
          />
        </div>
      </div>

      <!-- Action -->
      <div class="row">
        <div class="col">
          <button
            class="btn btn-primary float-end"
            type="submit"
            [disabled]="myForm.invalid"
          >
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span><b>Valid</b></span>
    <pre>{{ myForm.valid | json }}</pre>
    <span
      ><b
        >Pristine (no se han cambiado ninguno de los valores con los que se
        presentó el form)</b
      ></span
    >
    <pre>{{ myForm.pristine | json }}</pre>
    <span><b>Touched</b></span>
    <pre>{{ myForm.touched | json }}</pre>
    <span><b>Value</b></span>
    <pre>{{ myForm.value | json }}</pre>
    <span><b>CustomDirective</b></span>
    <pre>{{ myForm.controls.stock?.errors | json }}</pre>
  </div>
</div>
