<h2>Template: Dinámicos</h2>
<hr />

<form (ngSubmit)="save()" autocomplete="off" #myForm="ngForm">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        name="name"
        [ngModel]="person.name"
        placeholder="Nombre de la persona"
        required
      />
      <span
        class="form-text text-danger"
        *ngIf="myForm.controls.name?.errors && myForm.controls.name?.touched"
      >
        Este campo es obligatorio
      </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="newGame"
          placeholder="Agregar favorito"
          (keyup.enter)="addGame()"
          name="newGame"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="addGame()"
          [disabled]="!myForm.controls.newGame?.value"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9">
      <div
        *ngFor="let game of person.favorites; let i = index"
        class="input-group mb-1"
      >
        <input
          type="text"
          [(ngModel)]="game.name"
          [name]="'favorito_' + i"
          class="form-control"
        />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="delete(i)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary float-end"
        [disabled]="myForm.invalid"
        (click)="save()"
      >
        Guardar
      </button>
    </div>
  </div>
</form>

<span>Persona</span>
<pre>{{ person | json }}</pre>
