<h2>Template: Switches</h2>
<hr />

<form [formGroup]="myForm" (ngSubmit)="save()">
  <!-- radios -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Género</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="gender"
          id="radioMale"
          value="M"
        />
        <label class="form-check-label" for="radioMale">Masculino</label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          formControlName="gender"
          id="radioFemale"
          value="F"
        />
        <label class="form-check-label" for="radioFemale">Femenino</label>
      </div>
    </div>
  </div>

  <!-- switches -->
  <div class="row mb-3">
    <div class="col-sm-3 col-form-label">Notificaciones</div>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          formControlName="notifications"
          type="checkbox"
          id="switchNotifications"
        />
        <label class="form-check-label" for="switchNotifications"
          >Quiero recibir notificaciones</label
        >
      </div>
    </div>
  </div>

  <!-- checkboxes -->
  <div class="row mb-3">
    <div class="col-sm-3 col-form-label"></div>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="check"
          formControlName="conditions"
        />
        <label class="form-check-label" for="check">
          Términos y condiciones
        </label>
      </div>
    </div>
  </div>

  <!-- action -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end" type="submit">Guardar</button>
    </div>
  </div>
</form>

<h5>Valor del form</h5>
<pre>{{ myForm.value | json }}</pre>

<br />

<h5>Valor de la persona</h5>
<pre>{{ person | json }}</pre>

<br />

<h5>Valid</h5>
<pre>{{ myForm.valid | json }}</pre>

<br />

<!-- <h5>Términos</h5> -->
<!-- <pre>{{ myForm.controls.terms?.errors | json }}</pre> -->

<br />
