<h2>Reactivos: Básicos</h2>
<hr />

<div class="row">
  <div class="col">
    <form (ngSubmit)="save()" autocomplete="off" [formGroup]="myForm">
      <!-- Campo del producto -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Producto</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="text"
            formControlName="name"
            placeholder="Nombre del producto"
          />
          <span
            class="form-text text-danger"
            *ngIf="isFormControlInvalid('name')"
          >
            Debe de ser de 3 letras
          </span>
        </div>
      </div>

      <!-- Campo del precio -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Precio</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            formControlName="price"
            placeholder="Precio del producto"
          />
          <span
            class="form-text text-danger"
            *ngIf="isFormControlInvalid('price')"
          >
            El precio debe ser mayor o igual a 0
          </span>
        </div>
      </div>

      <!-- Campo de existencias -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input
            class="form-control"
            type="number"
            formControlName="stock"
            placeholder="Stock del producto"
          />
          <span
            class="form-text text-danger"
            *ngIf="isFormControlInvalid('stock')"
          >
            Las existencian deben ser mayor o igual a 0
          </span>
        </div>
      </div>

      <!-- Action -->
      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" type="submit">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <span><b>Valid</b></span>
    <pre>{{ myForm.valid | json }}</pre>
    <span
      ><b
        >Pristine (no se han cambiado ninguno de los valores con los que se
        presentó el form)</b
      ></span
    >
    <pre>{{ myForm.pristine | json }}</pre>
    <span><b>Touched</b></span>
    <pre>{{ myForm.touched | json }}</pre>
    <span><b>Value</b></span>
    <pre>{{ myForm.value | json }}</pre>
  </div>
</div>
