<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="createUser()">
      <!-- nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre real"
            formControlName="fullname"
          />
          <span
            class="form-text text-danger"
            *ngIf="controlInvalid('fullname')"
          >
            Debe ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <span class="form-text text-danger" *ngIf="controlInvalid('email')">
            {{ emailError }}
          </span>
        </div>
      </div>

      <!-- username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="username"
          />
          <span
            class="form-text text-danger"
            *ngIf="controlInvalid('username')"
          >
            El username es obligatorio y no puede ser Strider
          </span>
        </div>
      </div>

      <!-- password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Password del usuario"
            formControlName="password"
          />
          <span
            class="form-text text-danger"
            *ngIf="controlInvalid('password')"
          >
            {{ passwordError }}
          </span>
        </div>
      </div>

      <!-- password 2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar password del usuario"
            formControlName="password2"
          />
          <span
            class="form-text text-danger"
            *ngIf="controlInvalid('password2')"
          >
            {{ password2Error }}
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="myForm.pending"
          >
            Crear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h5>Form valid:</h5>
<pre>{{ myForm.valid }}</pre>
<h5>Form errors:</h5>
<pre>{{ myForm.errors | json }}</pre>
<h5>Form status:</h5>
<pre>{{ myForm.status | json }}</pre>
<h5>Fullname errors:</h5>
<pre>{{ myForm.controls.fullname.errors | json }}</pre>
<h5>Email errors:</h5>
<pre>{{ myForm.controls.email.errors | json }}</pre>
<h5>Username errors:</h5>
<pre>{{ myForm.controls.username.errors | json }}</pre>
<h5>Password errors:</h5>
<pre>{{ myForm.controls.password.errors | json }}</pre>
<h5>Password2 errors:</h5>
<pre>{{ myForm.controls.password2.errors | json }}</pre>
