<h2>Reactivos: Dinámicos</h2>
<hr />

<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()">
  <!-- Nombre -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Nombre</label>
    <div class="col-sm-9">
      <input
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Nombre de la persona"
      />
      <span class="form-text text-danger" *ngIf="isFormControlValid('name')">
        Este campo es obligatorio
      </span>
    </div>
  </div>

  <!-- Agregar favorito -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Agregar</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input
          type="text"
          placeholder="Agregar favorito"
          [formControl]="newFavorite"
          class="form-control"
          (keyup.enter)="addFavorite()"
        />
        <button
          class="btn btn-outline-primary"
          type="button"
          (click)="addFavorite()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>

  <!-- Lista de juegos favoritos -->
  <div class="mb-3 row">
    <label class="col-sm-3 col-form-label">Favoritos</label>
    <div class="col-sm-9" formArrayName="favorites">
      <div
        class="input-group mb-1"
        *ngFor="let favorite of favoritesArray.controls; let i = index"
      >
        <input type="text" class="form-control" [formControlName]="i" />
        <button
          class="btn btn-outline-danger"
          type="button"
          (click)="delete(i)"
        >
          Eliminar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary float-end">Guardar</button>
    </div>
  </div>
</form>

<span>Valid</span>
<pre>{{ myForm.valid | json }}</pre>
<span>Value</span>
<pre>{{ myForm.value | json }}</pre>
<br />
<span>Nuevo favorito</span>
<pre>{{ newFavorite.value | json }}</pre>
<pre>{{ newFavorite.valid | json }}</pre>
